.dashboard__main__container {
    width: 100%;
    background-color: rgba(52, 53, 65, 1);
    display: flex;
    flex-flow: column;
    gap: 64px;
    padding: 24px;
    height: 100vh;
}

.dashboard__main__header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard__main__header.level2 {
    position: absolute;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 8px;
    pointer-events: none;
    z-index: 0;
}

.gpt-model__btn__container {
    width: 320px;
    height: 52px;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    padding: 4px;
    background-color: rgba(32,33,35, 1);
    border-radius: 12px;
    pointer-events: all;
}

.gpt-model__btn {
    flex: 1;
    display: flex;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding-inline: 24px;
    border-radius: 12px;
    background-color: rgba(64,65,79, 1);
    color: var(--text-white);
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: all 100ms;
}

.gpt-model__btn p {
    font-size: 14px;
    font-weight: bold;
}

.gpt-model__btn:nth-of-type(2) p {
    margin-right: 8px;
}

.gpt4-model__btn {
    background-color: transparent;
    color: var(--inactive-color);
}

.gpt4-model__btn:hover p {
    color: white;
}

.gpt4-model__btn:hover svg:first-of-type {
    color: rgb(225, 0, 255);
}

.gpt-model__btn:first-of-type:hover ~ button {
    background-color: rgba(52, 53, 65, 0.7);
}

.btn__hover__message__container {
    width: 320px;
    padding: 16px;
    border-radius: 12px;
    background-color: rgba(32,33,35, 1);
    color: var(--text-white);
    text-align: start;
    display: flex;
    flex-flow: column;
    gap: 16px;
    pointer-events: all;
}

.btn__hover__message__container > small {
    color: var(--inactive-color);
    font-size: small;
    font-weight: bold;
}

.btn__hover__message__container > button {
    height: 40px;
    background-color: rgb(225, 0, 255);
    color: var(--text-white);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.dashboard__main__body {
    color: var(--text-white);
    display: flex;
    flex-flow: column;
    gap: inherit;
    height: 100%;
    margin-top: 64px;
}

.dashboard__info__container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.dashboard__info__block__container {
    max-width: 700px;
    width: 100%;
    display: flex;
    gap: 16px;
}

.info__block__container {
    display: flex;
    flex-flow: column;
    gap: 16px;
}

.dashboard__footer {
    width: 100%;
    display: flex;
    flex-flow: column;
    max-width: 800px;
    align-self: center;
    gap: 8px;
    margin-top: auto;
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 16px;
}

.dashboard__input__container {
    width: 100%;
    display: flex;
    max-width: auto;
    height: auto;
    min-height: 36px;
    background-color: rgba(64, 65, 79, 1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding-inline: 16px;
    gap: 8px;
    max-height: 240px;
    padding-block: 4px;
}

.dashboard__input {
    background-color: inherit;
    border: none;
    width: 100%;
    align-self: center;
    outline: none;
    color: var(--text-white);
    font-weight: 500;
    font-size: 16px;
    resize: none;
    min-height: 24px;
    height: auto;
    padding-top: 16px;
}

.dashboard__send__btn {
    width: 36px;
    color: rgba(172, 172, 190, 0.5);
    cursor: pointer;
    padding-inline: 8px;
    align-self: flex-end;
    margin-block: 16px;
}

.dashboard__footer__text {
    color: var(--text-white);
    font-size: small;
}

.dashboard__footer__text a {
    color: var(--text-white);
}