.drawer__container {
    height: 100vh;
    position: relative;
    display: flex;
    z-index: 10;
}

.drawer__close {
    display: none;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 3px solid var(--text-white);
}

.drawer__close.closed {
    border: none;
}

.drawer__close svg {
    color: var(--text-white);
    transform: scale(1.45);
}

.drawer__under__btn {
    z-index: 2;
    position: absolute;
    top: 8px;
    left: 8px;
}

.drawer {
    width: 280px;
    height: 100%;
    background-color: rgba(32,33,35, 1);
    display: flex;
    flex-flow: column;
    padding: var(--space);
    transition: width 300ms;

}

.drawer.closed {
    padding: 0;
    width: 0;
    overflow-x: hidden;
}

.drawer__background {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    pointer-events: all;
    transition: all 300ms;
    z-index: 1;
}

.drawer__background.closed {
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
}

.drawer__header {
    display: flex;
    gap: 8px;
}

.drawer__btn {
    height: 44px;
    border-radius: 8px;
    color: var(--text-white);
    background-color: transparent;
    align-items: center;
    cursor: pointer;
    border: 1px solid hsla(0,0%,100%,.2);
}

.newchat__btn {
    padding-left: 16px;
    font-size: 16px;
    flex: 1;
    display: flex;
    gap: 16px;
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
}

.closedrawer__btn {
    width: 44px;
}

.closedrawer__btn svg {
    transform: scale(1.2);
    font-weight: normal;
}

.drawer__main {
    flex: 1;
}

.drawer__footer {
    display: flex;
    flex-flow: column;
    width: 100%;
    color: var(--text-white);
    padding: 8px;
    gap: 8px;
}

.drawer__line {
    background-color: hsla(0,0%,100%,.2);
    height: 1px;
    width: 100%;
}

.footer__btn {
    border-radius: 8px;
    padding-block: 12px;
    padding-inline: 8px;
    white-space: nowrap;
}

.footer__btn:hover {
    background-color: rgba(52, 53, 65, 1);
}

.drawer__upgrade__btn {
    display: flex;
    flex-flow: row;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.label__new {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: rgba(52, 53, 65, 1);
    background-color: rgba(250, 230, 158, 1);
    width: 40px;
    font-size: small;
    font-weight: 500;
}

.drawer__profile__btn {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.drawer__profile__image__container {
    width: 30px;
    height: 24px;
    overflow: hidden;
}

.drawer__profile__image {
    width: 100%;
}

.drawer__profile__btn__icon {
    margin-left: auto;
}

@media screen and (max-width: 900px) {
    .drawer__background {
        display: inline;
        top: 0;
        left: 0;
    }

    .drawer__container {
        position: absolute;
        top: 0;
        left: 0;
    }

    .drawer__close {
        display: block;
        margin: 8px;
        cursor: pointer;
    }

    .closedrawer__btn {
        display: none;
    }
}